@{
    ViewBag.Title = "Bienvenido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido al sitio de evaluacion</h2>

<p>@Html.ActionLink("Calcular Compra", "CalcularCompras", "ComprasDescuento")</p>
<p>@Html.ActionLink("Resultado", "Resultado", "ComprasDescuento")</p>


