
@{
    ViewBag.Title = "Alta";
}

<h2>Alta Animales</h2>

<form action="alta" method="post">
    Especie:
    <input type="Text" name="Especie" placeholder="Especie" />

    <br />
    <br />
    Peso:
    <input type="number" name="Peso" placeholder="Ingrese Peso" />

    <input type="submit" class="btn btn-primary" value="Calcular Alimento" />

</form>


