
@{
    ViewBag.Title = "Nueva";
}

<h2>Nueva Persona</h2>

<form action="/Persona/NuevaAutomatico" method="post">
    Nombre:
    <input type="Text" name="Nombre" />

    Apellido:
    <input type="text" name="Apellido" />

    Ingreso Mensual:
    <input type="number" name="IngresoMensual" />

    <input type="submit" value="Crear" />

</form>

